<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>823377869955-r7c74osg61dkh3unq2k0mul3p1mnlrob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823377869955-r7c74osg61dkh3unq2k0mul3p1mnlrob</string>
	<key>API_KEY</key>
	<string>AIzaSyBdPNOa1A6J87_nRZ4KB5Dvd2DxJESy_LE</string>
	<key>GCM_SENDER_ID</key>
	<string>823377869955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>USU.Bear-River-Knives</string>
	<key>PROJECT_ID</key>
	<string>bear-river-knife-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>bear-river-knife-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:823377869955:ios:c4e9e454ce3bbd21</string>
	<key>DATABASE_URL</key>
	<string>https://bear-river-knife-chat.firebaseio.com</string>
</dict>
</plist>